@font-face {
  font-family: JosefinSans;
  src: url('../../../../../../../../../design main/Fonts/Josefin_Sans/JosefinSans-Bold.ttf') format('truetype');
}

.main_container{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.home_after_login_desktop{
  display: block;
}

.home_after_login_mobile{
  display: none;
}

@media all and (max-width: 700px) {
  .home_after_login_desktop{
    display: none;
  }
  .home_after_login_mobile{
    display: block;
  }
}
