<div class="sidebar_communities_container" *ngIf="dataReceived">
  <div class="sidebar_communities_container_title">COMMUNITIES</div>
  <div class="sidebar_communities_line"
       *ngFor="let community of communityJoiningData"
       routerLink="/{{community.community.url}}/all">
    <div class="sidebar_communities_circle left"></div>
    <span class="sidebar_text left">{{ community.community.name }}</span>
  </div>
  <div class="sidebar_home_top_line">
    <img src="../../../../assets/images/add_icon.png" height="17" width="18" class="add_more_icon">
    <span class="sidebar_text">Discover</span>
  </div>
</div>


<div class="sidebar_communities_container" *ngIf="!dataReceived">
  <div class="sidebar_communities_container_title">COMMUNITIES</div>
  <app-sidebar-list-loader></app-sidebar-list-loader>
</div>


