<div class="sidebar_top_profile">
  <div class="sidebar_top_communities_image">
  </div>
  <div class="sidebar_top_communities_right">
    <div class="sidebar_top_profile_title">
      {{firstName}} {{lastName}}
    </div>
    <div class="sidebar_top_profile_info">
      @{{username}}
    </div>
    <div class="sidebar_top_communities_follow" (click)="followButtonClicked()"
         *ngIf="following == false && username !== userLoggedIn">Follow</div>
    <div class="sidebar_top_communities_follow" (click)="followButtonClicked()"
         *ngIf="following == true && username !== userLoggedIn">Unfollow</div>
  </div>
</div>
