.columns_description_unit{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  float: left;
}

.columns_description_unit_left{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: left;
}

.columns_description_unit_right_title{
  font-size: 14px;
  font-family: "Roboto-Regular";
  color: #2a2a2a;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.columns_description_unit_right{
  width: calc(100% - 40px);
  height: 100%;
  float: right;
}

.columns_description_unit_text{
  margin-top: 5px;
  font-size: 12px;
  font-family: "Roboto-Regular";
  color: rgb(80, 80, 80);
  line-height: 1.2;
}

.blue{
  background-color: rgb(76, 137, 252);
}

.peach{
  background-color: #fcc58e;
}

.pink{
  background-color: #ef6e7e;
}

.green{
  background-color: #207a34;
}

.maroon_light{
  background-color: #f06d54;
}
