<div class="right_columns_description">
  <div class="right_columns_description_title">COLUMNS Description</div>
  <app-mobile-extras-columns-description-unit
      [color]="'maroon_light'"
      *ngFor="let column of communityColumns"
      [column]="column"></app-mobile-extras-columns-description-unit>
  <!--<app-mobile-extras-columns-description-unit [color]="'peach'"></app-mobile-extras-columns-description-unit>-->
  <!--<app-mobile-extras-columns-description-unit [color]="'pink'"></app-mobile-extras-columns-description-unit>-->
  <!--<app-mobile-extras-columns-description-unit [color]="'green'"></app-mobile-extras-columns-description-unit>-->
  <!--<app-mobile-extras-columns-description-unit [color]="'blue'"></app-mobile-extras-columns-description-unit>-->
</div>
