<div class="popups_feedback_full" id="popup_container_feedback"
     (click)="closePopup($event)"
     [ngStyle]="{display: popupStatus == true ? 'block' : 'none'}">
  <div class="popups_feedback_main_container">
    <div class="popups_feedback_title">Feedback</div>
    <div class="popups_feedback_on">Feedback On</div>
    <div class="popups_feedback_here" contenteditable="true">Feedback Here</div>
    <div class="popups_feedback_send">Send Feedback</div>
    <div class="popups_feedback_text">We are really thankful for your support.
      We make it our aim to provide you with the best of things we can.
    <br>
      -Neel Shah (Founder)
    </div>
  </div>
</div>
