
.right_column_home_title{
  font-size: 16.8px;
  font-family: "Roboto-Medium";
  color: rgb(79, 77, 77);
  line-height: 1.2;
  margin-top: 6px;
}

.right_column_home_content{
  font-size: 14px;
  color: rgb(70, 70, 70);
  line-height: 1.2;
  margin-top: 10px;
  letter-spacing: 0.3px;
}

.read_more{
  color: #6192f4;
  cursor: pointer;
}
