<div class="right_columns_description">
  <div class="right_columns_description_title">COLUMNS Description</div>
  <app-body-right-columns-description-unit
      [color]="'maroon_light'"
      *ngFor="let column of columns"
      [column]="column"></app-body-right-columns-description-unit>
  <!--<app-body-right-columns-description-unit [color]="'peach'"></app-body-right-columns-description-unit>-->
  <!--<app-body-right-columns-description-unit [color]="'pink'"></app-body-right-columns-description-unit>-->
  <!--<app-body-right-columns-description-unit [color]="'green'"></app-body-right-columns-description-unit>-->
  <!--<app-body-right-columns-description-unit [color]="'blue'"></app-body-right-columns-description-unit>-->
</div>
