<div class="sidebar_contributions_container">
  <div class="sidebar_contributions_container_title">CONTRIBUTIONS</div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Filter Spam</span>
  </div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Filter Inappropriate Content</span>
  </div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Top Contributors</span>
  </div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Filter Spam</span>
  </div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Filter Inappropriate Content</span>
  </div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Top Contributors</span>
  </div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Filter Spam</span>
  </div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Filter Inappropriate Content</span>
  </div>
  <div class="sidebar_contributions_line">
    <div class="sidebar_contributions_circle_dark left"></div>
    <span class="sidebar_text_contributions left">Top Contributors</span>
  </div>

</div>
