<div class="sidebar_home_top">
  <div class="sidebar_communities_container_title">ACCOUNTS</div>
  <div class="sidebar_home_top_line" (click)="settingsOpen()">
    <img src="../../../../assets/images/setting.png" height="17" width="18" class="home_icon">
    <span class="sidebar_text">Setting</span>
  </div>
  <div class="sidebar_home_top_line">
    <img src="../../../../assets/images/feedback.png" height="17" width="18" class="home_icon">
    <span class="sidebar_text">Feedback/Suggestion</span>
  </div>
  <div class="sidebar_home_top_line">
    <img src="../../../../assets/images/signout.png" height="17" width="18" class="home_icon">
    <span class="sidebar_text">Logout</span>
  </div>
</div>
