.left{
  float: left;
}

.right{
  float: right;
}

@font-face {
  font-family: JosefinSans;
  src: url('../../../../../../../../../../design main/Fonts/Josefin_Sans/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  src: url('../../../../../../../../../../design main/Fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../../../../../../../../../../design main/Fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}



.link_unit_container{
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 160px;
  margin-top: 20px;
  padding-top: 5px;
}

.link_unit_content{
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  font-family: "Roboto";
  color: rgb(100, 100, 100);
  line-height: 1.2;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.link_unit_content_sharedBy{
  font-size: 8px;
  display: inline;
}

.link_unit_sharedBy_name{
  display: inline;
}

.link_unit_content_title{
  font-size: 12px;
  font-family: "Roboto";
  color: rgb(40, 40, 40);
  line-height: 1.2;
  margin-top: 10px;
  font-weight: 600;
}

.link_unit_content_body{
  font-size: 10px;
  font-family: "Roboto";
  color: rgb(40, 40, 40);
  line-height: 1.2;
  margin-top: 10px;
}

.link_unit_date_time{
  margin-top: 15px;
  font-size: 10px;
}

.link_unit_time{
  font-size: 10px;
}

.link_unit_footer{
  height: 30px;
  width: 98%;
  position: absolute;
  bottom: 0px;
}

.link_unit_agree{
  width: 67px;
  height: 30px;
  padding-top: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: calc((100% - 315px)/4);
  cursor: pointer;
}

.link_unit_like_text{
  font-size: 11px;
  font-family: "Roboto";
  color: rgb(104, 154, 249);
  line-height: 1.2;
}

.like_icon{
  margin-bottom: -2px;
}

.link_unit_disagree{
  width: 85px;
  height: 30px;
  padding-top: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: calc((100% - 315px)/4);
  cursor: pointer;
}

.link_unit_share{
  width: 68px;
  height: 30px;
  padding-top: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: calc((100% - 315px)/4);
  cursor: pointer;
}

.link_unit_report{
  width: 75px;
  height: 30px;
  padding-top: 5px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

.activity_selected {
  font-weight: bold;
}

.share_tooltip{
  position: absolute;
  box-shadow: 0 3px 3px 0 rgba(119, 119, 119, 0.07);
  width: 140px;
  height: 40px;
  top: 25px;
  right: calc((100% - 195px)/4 + 60px);
  background-color: #ffffff;
  z-index: 100;
  box-sizing: border-box;
  padding: 7.5px 15px;
}

.right_share_twitter{
  width: 35px;
  display: inline-block;
  cursor: pointer;
}

.right_share_facebook{
  width: 35px;
  display: inline-block;
  cursor: pointer;
}

.right_share_google{
  width: 35px;
  display: inline-block;
  cursor: pointer;
  float: right;
}