<div class="link_unit_container" *ngIf="render === true" [ngStyle]="{boxShadow: box_shadow == true ? '0 3px 3px 0 rgba(119, 119, 119, 0.07)' : 'none'}">
  <div class="link_unit_content left" [ngStyle]="{border: box_shadow == true ? 'none' : '0.5px solid rgb(214, 214, 214)'}">
    <div class="link_unit_content_sharedBy">
      Shared by <div class="link_unit_sharedBy_name" routerLink="/@{{postUser}}">{{ postUser }}</div>
      <div class="link_unit_sharedBy_name" *ngIf="communityName"> on
        <div class="link_unit_sharedBy_name" routerLink="/{{communityName}}/all">{{ communityName }}</div>/
        <div class="link_unit_sharedBy_name" routerLink="/{{communityName}}/{{columnUrl}}">{{ columnName }}</div>
      </div>
    </div>    <div class="link_unit_content_title">{{ postTitle }}</div>
    <div class="link_unit_content_body">{{ postDescription }}
    </div>
    <div class="link_unit_date_time">
      <div class="link_unit_date left">{{ date }}</div>
      <div class="link_unit_time right">2 Comments</div>
    </div>
    <div class="link_unit_footer">
      <div class="link_unit_agree" [ngClass]="{activity_selected: agreed === true}" (click)="agreeClicked($event)">
        <img src="../../../../../assets/images/agree_icon.png" height="13" width="15" class="like_icon">
        <span class="link_unit_like_text">Agree({{postAgreeCount}})</span>
      </div>
      <div class="link_unit_disagree" [ngClass]="{activity_selected: disagreed === true}" (click)="disagreeClicked($event)">
        <img src="../../../../../assets/images/disagree_icon.png" height="13" width="15" class="like_icon">
        <span class="link_unit_like_text">Disagree({{postDisagreeCount}})</span>
      </div>
      <div class="link_unit_share" [ngClass]="{activity_selected: share === true}" (click)="shareClicked($event)">
        <img src="../../../../../assets/images/share_icon.png" height="13" width="15" class="like_icon">
        <span class="link_unit_like_text">Share({{postShareCount}})</span>
        <div class="share_tooltip" *ngIf="shareTooltipStatus">
          <div class="right_share_twitter">
            <a href="https://twitter.com/share?url=www.convole.com/home/post/{{linkToPost}}&text=" target="_blank">
              <img src="../../../../../assets/images/twitter_icon.png" height="28" width="28">
            </a>
          </div>
          <div class="right_share_facebook">
            <a href="http://www.facebook.com/sharer.php?u=www.convole.com/home/post/{{linkToPost}}" target="_blank">
              <img src="../../../../../assets/images/facebook_icon.png" height="28" width="28">
            </a>
          </div>
          <div class="right_share_google">
            <a href="https://plus.google.com/share?url=www.convole.com/home/post/{{linkToPost}}" target="_blank">
              <img src="../../../../../assets/images/google_plus_icon.png" height="28" width="28">
            </a>
          </div>
        </div>
      </div>
      <div class="link_unit_report" [ngClass]="{activity_selected: report === true}">
        <img src="../../../../../assets/images/report_icon.png" height="14" width="16" class="like_icon">
        <span class="link_unit_like_text">Report({{postReportCount}})</span>
      </div>
    </div>
  </div>
</div>
