<div class="post_open_discussion">
  <div class="post_open_top">
    <div class="post_open_top_pic"></div>
    <div class="post_open_top_right">
      <div class="post_open_top_right_name">{{ postUser }}</div>
      <div class="post_open_top_right_description"> Shared at {{ communityName }}/{{ columnName }} on {{ date }}</div>
    </div>
  </div>
  <div class="post_open_top_content">
    <div class="link_unit_content_title">{{ postTitle }}</div>

    <div class="object_rating_container">
      <div class="object_rating_container_left">
        <div class="object_rating_container_left_score">{{ averageReviews }}</div>
        <div class="object_rating_container_left_number">{{ totalReviews }} reviews</div>
      </div>

      <div class="object_rating_container_right">
        <div class="object_rating_container_right_great">
          <div class="object_rating_container_right_great_title">Great</div>
          <div class="object_rating_container_right_great_bar">
            <div class="object_rating_container_right_great_bar_blue"
                 [ngStyle]="{'width' : totalReviews > 0 ? greatReview * 100/totalReviews + '%' : 0}"></div>
          </div>
          <div class="object_rating_container_right_great_reviews">{{ greatReview }} reviews</div>
        </div>
        <div class="object_rating_container_right_great">
          <div class="object_rating_container_right_great_title">Good</div>
          <div class="object_rating_container_right_great_bar">
            <div class="object_rating_container_right_great_bar_blue"
                 [ngStyle]="{'width' : totalReviews > 0 ? goodReview * 100/totalReviews + '%' : 0}"></div>
          </div>
          <div class="object_rating_container_right_great_reviews">{{ goodReview }} reviews</div>
        </div>
        <div class="object_rating_container_right_great">
          <div class="object_rating_container_right_great_title">Neutral</div>
          <div class="object_rating_container_right_great_bar">
            <div class="object_rating_container_right_great_bar_blue"
                 [ngStyle]="{'width' : totalReviews > 0 ? neutralReview * 100/totalReviews + '%' : 0}"></div>
          </div>
          <div class="object_rating_container_right_great_reviews">{{ neutralReview }} reviews</div>
        </div>
        <div class="object_rating_container_right_great">
          <div class="object_rating_container_right_great_title">Bad</div>
          <div class="object_rating_container_right_great_bar">
            <div class="object_rating_container_right_great_bar_blue"
                 [ngStyle]="{'width' : totalReviews > 0 ? badReview * 100/totalReviews + '%' : 0}"></div>
          </div>
          <div class="object_rating_container_right_great_reviews">{{ badReview }} reviews</div>
        </div>
        <div class="object_rating_container_right_great">
          <div class="object_rating_container_right_great_title">Worse</div>
          <div class="object_rating_container_right_great_bar">
            <div class="object_rating_container_right_great_bar_blue"
                 [ngStyle]="{'width' : totalReviews > 0 ? worstReview * 100/totalReviews + '%' : 0}"></div>
          </div>
          <div class="object_rating_container_right_great_reviews">{{ worstReview }} reviews</div>
        </div>
      </div>
    </div>

    <div class="link_unit_content_body">{{ postContent }}
    </div>
    <div class="discussion_unit_pic"></div>
    <div class="link_unit_footer">
      <div class="discussion_unit_share object_unit_share"
           [ngClass]="{activity_selected: share === true}"
           (click)="shareClicked($event)">
        <img src="../../../../assets/images/share_icon.png" height="15" width="18" class="discussion_unit_button_icon">
        <span class="discussion_unit_button_text">Share</span>
        <div class="share_tooltip_object" *ngIf="shareTooltipStatus">
          <div class="right_share_twitter">
            <a href="https://twitter.com/share?url=www.convole.com/home/post/{{linkToPost}}&text=" target="_blank">
              <img src="../../../../assets/images/twitter_icon.png" height="28" width="28">
            </a>
          </div>
          <div class="right_share_facebook">
            <a href="http://www.facebook.com/sharer.php?u=www.convole.com/home/post/{{linkToPost}}" target="_blank">
              <img src="../../../../assets/images/facebook_icon.png" height="28" width="28">
            </a>
          </div>
          <div class="right_share_google">
            <a href="https://plus.google.com/share?url=www.convole.com/home/post/{{linkToPost}}" target="_blank">
              <img src="../../../../assets/images/google_plus_icon.png" height="28" width="28">
            </a>
          </div>
        </div>
      </div>
      <div class="discussion_unit_report" [ngClass]="{activity_selected: report === true}">
        <img src="../../../../assets/images/report_icon.png" height="16" width="20" class="discussion_unit_button_icon">
        <span class="discussion_unit_button_text">Report</span>
      </div>
    </div>
  </div>
  <div class="post_open_add_comment" *ngIf="userId">
    <div class="post_open_add_comment_pic"></div>
    <div class="post_open_add_comment_right">
      <div class="post_open_add_comment_name">{{currentUserFirstName}} {{currentUserLastName}}</div>
      <div class="post_open_add_comment_radio">
        <form>
          <label class="radio"><input type="radio"
                                      [(ngModel)]="postReviewValue"
                                      [value]="1" class="radio_input"
                                      name="optionGreat"> Great </label>
          <label class="radio"><input type="radio"
                                      [(ngModel)]="postReviewValue"
                                      [value]="2"
                                      class="radio_input"
                                      name="optionGood"> Good </label>
          <label class="radio"><input type="radio"
                                      [(ngModel)]="postReviewValue"
                                      [value]="3"
                                      class="radio_input"
                                      name="optionNeutral"> Neutral</label>
          <label class="radio"><input type="radio"
                                      [(ngModel)]="postReviewValue"
                                      [value]="4"
                                      class="radio_input"
                                      name="optionBad"> Bad</label>
          <label class="radio"><input type="radio"
                                      [(ngModel)]="postReviewValue"
                                      [value]="5"
                                      class="radio_input"
                                      name="optionWorse"> Worse</label>
        </form>
      </div>
      <div class="post_open_add_comment_box" contenteditable="true" placeholder="Share Your Views"></div>
      <div class="post_open_add_comment_discuss" (click)="submitComment($event)">Discuss</div>
    </div>
  </div>
  <app-mobile-post-open-discuss
      [post]="post"
      *ngFor="let discussion of newDiscussionData"
      [discussData]="discussion"
      [allDiscussions]="newDiscussionData"></app-mobile-post-open-discuss>
</div>
