<div class="sidebar_activities_container">
  <div class="sidebar_activities_container_title">ACTIVITIES</div>
  <div class="sidebar_activities_line">
    <img src="../../../../assets/images/liked_icon.png" height="21" width="21" class="add_more_icon">
    <span class="sidebar_text_activities">Liked</span>
  </div>
  <div class="sidebar_activities_line">
    <img src="../../../../assets/images/saved_icon.png" height="21" width="21" class="add_more_icon">
    <span class="sidebar_text_activities">Saved</span>
  </div>
  <div class="sidebar_activities_line">
    <img src="../../../../assets/images/reviewed_icon.png" height="21" width="21" class="add_more_icon">
    <span class="sidebar_text_activities">Reviewed</span>
  </div>
  <div class="sidebar_activities_line">
    <img src="../../../../assets/images/attending_icon2.png" height="21" width="21" class="add_more_icon">
    <span class="sidebar_text_activities">Attending</span>
  </div>
  <div class="sidebar_activities_line">
    <img src="../../../../assets/images/agreed_icon.png" height="21" width="21" class="add_more_icon">
    <span class="sidebar_text_activities">Agreed</span>
  </div>
  <div class="sidebar_activities_line">
    <img src="../../../../assets/images/disagreed_icon.png" height="21" width="21" class="add_more_icon">
    <span class="sidebar_text_activities">Disagreed</span>
  </div>
  <div class="sidebar_activities_line">
    <img src="../../../../assets/images/posts_icon.png" height="21" width="21" class="add_more_icon">
    <span class="sidebar_text_activities">Posts</span>
  </div>
  <div class="sidebar_activities_line">
    <img src="../../../../assets/images/trophies_icon.png" height="21" width="21" class="add_more_icon">
    <span class="sidebar_text_activities">Trophies</span>
  </div>
</div>
