<div class="contributions_unit_container">
  <div class="discussion_unit_content">
    <div class="contributions_unit_content_title">
      <span class="blue_text">Community Contributions : : </span>Is this post following community guidelines?
    </div>
    <div class="contributions_unit_community_guidelines">
      <div class="contributions_unit_community_guidelines_title">Community Guidelines</div>
      <div class="contributions_unit_community_guidelines_line">1. Lorem ipsum dolor sit amet, consectetur elit.</div>
      <div class="contributions_unit_community_guidelines_line">2. Lorem ipsum dolor sit amet, consectetur.</div>
      <div class="contributions_unit_community_guidelines_line">3. Lorem ipsum dolor sit amet elit.</div>
    </div>
    <div class="other_post_div">
      <!--<app-mobile-link-unit [box_shadow]="false"></app-mobile-link-unit>-->
    </div>
    <div class="contributions_unit_footer">
      <div class="contributions_unit_great">
        <img src="../../../../../assets/images/great_content_icon.png" height="14" width="14" class="like_icon">
        <span class="contributions_unit_like_text">Great</span>
      </div>
      <div class="contributions_unit_spam">
        <img src="../../../../../assets/images/spam_icon.png" height="14" width="14" class="like_icon">
        <span class="contributions_unit_like_text">Spam/Inappropriate</span>
      </div>
      <div class="contributions_unit_switch">
        <img src="../../../../../assets/images/switch_icon.png" height="14" width="14" class="like_icon">
        <span class="contributions_unit_like_text">Switch Column</span>
      </div>
    </div>
  </div>
</div>
