<div class="popups_alert_small_container"
     [ngStyle]="{display: alertSmallPopup == true ? 'block' : 'none'}"
      (click)="closePopup()">
  <div class="popups_alert_main_container_title">
    <img src="../../../assets/images/checked_icon.png" height="22" width="22" class="popups_alert_main_container_checked">
    <div class="popups_alert_main_container_title_text">Subject</div>
  </div>
  <div class="popups_alert_main_container_text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </div>
</div>
