<div class="right_share_container">
  <div class="right_share_title">Share "{{communityName}} Community"</div>
  <div class="right_share_line">More members. More amazing posts.</div>
  <div class="right_share_links">
    <div class="right_share_twitter">
      <a href="https://twitter.com/share?url=www.convole.com/{{communityURL}}/all&text=" target="_blank">
        <img src="../../../../../assets/images/twitter_icon.png" height="28" width="28">
      </a>
    </div>
    <div class="right_share_facebook">
      <a href="http://www.facebook.com/sharer.php?u=www.convole.com/{{communityURL}}/all" target="_blank">
        <img src="../../../../../assets/images/facebook_icon.png" height="28" width="28">
      </a>
    </div>
    <div class="right_share_google">
      <a href="https://plus.google.com/share?url=http://www.convole.com/{{communityURL}}/all" target="_blank">
        <img src="../../../../../assets/images/google_plus_icon.png" height="28" width="28">
      </a>
    </div>
  </div>
</div>
