.post_create_discussion_title{
  margin-top: 20px;
  font-size: 26px;
  font-family: "Roboto-Bold";
  color: rgb(175, 175, 175);
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.8px;
}

.post_create_discussion_description{
  margin-top: 20px;
  font-size: 16px;
  font-family: "Roboto-Bold";
  color: rgb(175, 175, 175);
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.8px;
  height: 80px;
}

.post_create_discussion_image{
  margin-top: 20px;
  font-size: 16px;
  font-family: "Roboto-Bold";
  color: rgb(175, 175, 175);
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.8px;
}

.post_create_discussion_tags{
  margin-top: 20px;
  font-size: 16px;
  font-family: "Roboto-Bold";
  color: rgb(175, 175, 175);
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.8px;
  margin-bottom: 40px;
}

.post_create_discussion_submit{
  border-radius: 3px;
  background-color: rgb(76, 137, 252);
  width: 110px;
  height: 25px;
  margin: 10px 0 20px 0;
  font-size: 12px;
  font-family: "Roboto-Light";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.input_div_post_create:focus {
  color: rgb(147, 147, 147);
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}