<div class="popups_alert_small_container"
     [ngStyle]="{display: alertSmallPopup == true ? 'block' : 'none'}"
     (click)="closePopup()">
  <div class="popups_alert_main_container_title">
    <img src="../../../assets/images/checked_icon.png" height="20" width="20" class="popups_alert_main_container_checked">
    <div class="popups_alert_main_container_title_text">Subject</div>
  </div>
  <div class="popups_alert_main_container_text">
    This resource represents methods of adding sentence variety.
  </div>
</div>
