<div class="main_container">
  <img class="top_container" src="../../../../assets/images/home_background_mobile.png">
  <div class="background_image_container">
  </div>
  <div class="header_before">
    <div class="left">
      <img src=" ../../../../assets/images/convole_logo.png" class="convole_logo left"/>
      <span class="convole_title right">Convole</span>
    </div>
    <div class="header_before_right right">
      <span class="login left">Login</span>
      <span class="signup right">Sign Up</span>
    </div>
  </div>
  <div class="container_body">
    <div class="container_text_center">
      Join the Community,
      Access the best of Web
    </div>
    <div class="container_searchbar">
      <form class="search" method="post" action="#">
        <input type="text" id="search_bar_input" placeholder="Search Your Hobbies">
        <label for="search_bar_input"></label>
      </form>
      <span class="example_search">Ex. Football, Music, Sketching, Electric Cars... etc</span>
    </div>

  </div>
  <div class="container_bottom">
    <div class=" left">
      <span class="left">Privacy Policy .</span>
      <span class="right">Terms Of Service</span>
    </div>
    <div class="right">
      <span class="left">About .</span>
      <span class="right">Credits</span>
    </div>
  </div>
</div>
