<div class="popups_alert_main_container" [ngStyle]="{display: alertPopupStatus == true ? 'block' : 'none'}">
  <div class="popups_alert_main_container_close" (click)="closePopup()">
    X
  </div>
  <div class="popups_alert_main_container_title">
    Subject
  </div>
  <div class="popups_alert_main_container_text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenean ac leo magna. Ut aliquet eros eu arcu blandit semper.
    Vestibulum nec enim eget ligula dapibus aliquet
    Aenean ac leo magna. Ut aliquet eros eu arcu blandit semper.
  </div>
  <div class="popups_alert_main_container_buttons">
    <div class="popups_alert_main_container_button_delete">Delete</div>
    <div class="popups_alert_main_container_button_dont_delete">Don't Delete</div>
  </div>
</div>
